$productMap: (
    door: url('/assets/images/png/icon_door.png'),
    chair: url('/assets/images/png/icon_chair.png'),
    table: url('/assets/images/png/icon_table.png'),
    lamp: url('/assets/images/png/icon_ramp.png'),
    shelf: url('/assets/images/png/icon_shelf.png'),
    plant: url('/assets/images/png/icon_plant.png')
)